<div class="container mt-5 mb-5">
  <h1 class="text-center">About</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex impedit molestiae in assumenda reprehenderit laboriosam maiores officiis eveniet, repellendus est rem a saepe unde qui temporibus culpa quibusdam praesentium non reiciendis sunt commodi. Ullam deleniti natus, quam ut exercitationem soluta. Saepe sunt repellat esse laudantium?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus quo, rem earum itaque minima repellat voluptates! Minus ipsam neque cumque soluta est nam eveniet, ad esse nesciunt quae ab et inventore recusandae beatae porro, sequi laboriosam, reprehenderit iste. Ab pariatur voluptatum, quidem ea itaque laudantium magnam veritatis saepe magni architecto?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id delectus eveniet exercitationem minus quos cupiditate quaerat aliquid sunt explicabo. Omnis, nesciunt! Repellendus dolorem quod eos exercitationem, beatae quibusdam quos dignissimos magnam quasi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aut deserunt quia vero illum doloremque vel quae excepturi. Commodi, voluptatum!
  </p>
  <a href="#" class="btn btn-md btn-dark">See More</a>
</div>
